.mainContainer {
    display: flex;
    justify-content: center;
    height: auto;
    margin-top: 100px;
}

.card {
    box-shadow: 1px 1px 10px 10px #ddd;
    padding: 20px;
    text-align: center;
}

img {
    margin: 30px 0;
    width: 100%;
    height: auto;
    aspect-ratio: 3/3;
    object-fit: cover;
}

.btn-next {
    cursor: pointer;
}